.find-a-store-box{
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #000000;

    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location_icon{
    color:#D5A368;
    font-size: 30px;
    margin-right: 5px;
}
.menu_icon{
    display: none;
    font-size: 30px;
}
.Top-icons_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
.Top-icons_box span{
    display: flex;
    width: 75px;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;

}

.search_icon{
    padding: 10px;
    border-radius: 50px;
    background: #F2F2F2;
    border: 0.1px solid #d3d2d2;
    margin-left: 50px;
}
.logo-image{
    cursor:pointer;
}

/*----------------MENU---------------*/

.menu{
    width: 760px;
    margin-top: 40px;
    margin-bottom: 10px;

}
.menu ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.menu li{
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor:default;

    color: #000000;
}
.menu a:hover{
    color: rgb(167, 162, 162);
}

/*-----------------------------------------------------------------------------*/
/*-------------------------------RESPONSIVENESS--------------------------------*/
/*-----------------------------------------------------------------------------*/

@media (max-width: 780px){
    .menu{
        width: 600px;
        margin-top: 40px;
        margin-bottom: 10px;
    
    }
    .Top-icons_box span{
        display: none;
    }
    .search_icon{
        padding:0;
        background:none;
        border:0;
    }
    .logo-image{
        width: 200px;
        margin-top: -30px;
    }
}
@media (max-width: 415px){
    .find-a-store-box{
        display: none;
    }
    .menu_icon{
        display: block;
    }
    .menu{
        display:none;
    }
    .Top-icons_box span{
        display: none;
    }
    .search_icon{
        padding:0;
        background:none;
        border:0;
        margin-left: 30px;
    }
    .logo-image{
        width: 160px;
        margin-top: -25px;
        margin-left: -140px;
    }
    
}
@media (max-width: 376px){
    .logo-image{
        width: 130px;
        margin-top: -24px;
        margin-left: -130px;
    }
    
}
@media (max-width: 350px){
    .logo-image{
        width: 130px;
        margin-top: -24px;
        margin-left: -90px;
    }
    
}


